@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

* {
  font-family: 'Cascadia Code', sans-serif;
}

body {
  overflow: hidden;
}

.container ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50%;
}

.container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 15px;
}

.navbar ul li {
  display: flex;
  height: 2rem;
  align-items: center;
  cursor: pointer;
}

.container ul li:nth-child(odd) {
  background: #ccc;
}

.effacer {
  height: 35px;
  margin: 0;
}

.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

form {
  width: 44%;
}

input {
  font-size: medium;
  width: 96%;
  border: 2px solid black;
  padding: 5px 10px;
}

button {
  font-size: medium;
  float: right;
  border: solid 2px black;
  box-shadow: 3px 3px 0 0;
}

button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
}

form h2 {
  text-align: center;
  font-size: 2rem;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border: 2px solid black;
  margin: 1rem;
  font-size: 1rem;
  background: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin: 5px;
}

.navbar ul li:nth-child(2) {
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 0 1rem;
}

.date-time {
  position: fixed;
  top: 4rem;
  right: 0;
  width: auto;
  margin: 0 1rem;
  background: white;
  padding: 10px;
}

.footer {
  position: fixed;
  border: 2px solid black;
  padding: 0 1.5rem;
  margin: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  background: white;
}

.div-contact {
  margin-top: 10.5rem;
  display: none;
  list-style: inside;
  text-align: center;
}

.div-contact ul {
  display: inline-block;
  text-align: left;
}

.container-list {
  display: none;
  margin-top: 10.5rem;
  margin-bottom: 8rem;
  overflow: auto;
  max-height: 55vh;
}

#h1 {
  position: fixed;
  top: 100px;
}

.success {
  display: block;
  text-align: center;
  font-style: italic;
  margin: 40% auto;
}

#link-list:hover,
#link-add:hover,
#link-contact:hover {
  color: #006abc;
}
